<a href="https://colab.research.google.com/github/AkshayaReddy2006/23CSBTB27-28/blob/main/Types_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## part 1 - Implement Basic Data Structure using Numpy,Pandas

In [4]:
list = {1,5,2,6,3}
list1 = [3,6,1,8]
list2= ["greek","for"]
list3= "my first lab"
list4= 2j+6
list5 = 4.3
print(list)
print(list1)
print(list2)
print(list3)
print(type(list))
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))

{1, 2, 3, 5, 6}
[3, 6, 1, 8]
['greek', 'for']
my first lab
<class 'set'>
<class 'list'>
<class 'list'>
<class 'str'>
<class 'complex'>
<class 'float'>

In [5]:
list = {1:"greek1",2:"greeks","for":3,"greeks":6}
print("\nlist with the use of Mixed values : ")
print(list)
print(type(list))

list with the use of Mixed values :
{1: 'greek1', 2: 'greeks', 'for': 3, 'greeks': 6}
<class 'dict'>